/*#login{*/
/*    border: 1px solid var(--color-border);*/
/*}*/
/*.login input {*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    margin: 10px;*/
/*    border: 1px solid var(--color-border);*/
/*    border-radius: 5px;*/
/*}*/
/*.login label {*/
/*    font-weight: bold;*/
/*    margin: 10px;*/
/*}*/
/*.login button {*/
/*    background-color: rgba(208, 208, 208, 0.2);*/
/*    font-weight: bold;*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    margin: 10px;*/
/*    border: 1px solid var(--color-border);*/
/*    border-radius: 5px;*/
/*}*/
/*.login button:hover {*/
/*    transition: 0.4s;*/
/*    background-color: rgba(152, 152, 152, 0.2);*/

/*}*/
/*.login .error {*/
/*    color: rgba(255, 50, 50, 0.75);*/
/*    margin-bottom: 10px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
/*.login .success {*/
/*    color: rgba(50, 255, 50, 0.75);*/
/*    margin-bottom: 10px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/



/*#register{*/
/*    border: 1px solid var(--color-border);*/
/*}*/
/*.register input {*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    margin: 10px;*/
/*    border: 1px solid var(--color-border);*/
/*    border-radius: 5px;*/
/*}*/
/*.register label {*/
/*    font-weight: bold;*/
/*    margin: 10px;*/
/*}*/
/*.register button {*/
/*    background-color: rgba(208, 208, 208, 0.2);*/
/*    font-weight: bold;*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    margin: 10px;*/
/*    border: 1px solid var(--color-border);*/
/*    border-radius: 5px;*/
/*}*/
/*.register button:hover {*/
/*    transition: 0.4s;*/
/*    background-color: rgba(152, 152, 152, 0.2);*/

/*}*/
/*.register .error {*/
/*    color: rgba(255, 50, 50, 0.75);*/
/*    margin-bottom: 10px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/
/*.register .success {*/
/*    color: rgba(50, 255, 50, 0.75);*/
/*    margin-bottom: 10px;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/


/*#reservation_form {*/
/*    border: 1px solid var(--color-border);*/
/*    display: grid;*/
/*    padding: 10px;*/
/*}*/
/*#reservation_form label {*/
/*    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
/*    width: 100px;*/
/*    margin: 10px;*/
/*}*/
/*#reservation_form .flex_left label {*/
/*    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
/*    width: 200px;*/
/*    margin: 10px;*/
/*}*/
/*#reservation_form input {*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    margin: 10px;*/
/*    border: 1px solid var(--color-border);*/
/*    border-radius: 0 25px 25px 0;*/
/*}*/
/*#reservation_form #choice {*/
/*    width: 20px;*/
/*    border: 1px solid var(--color-border);*/
/*    border-radius: 25px 0 0 25px;*/
/*}*/
/*#confirmation p {*/
/*    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
/*    margin: 10px;*/
/*}*/

/*#confirmReservationUpdate {*/
/*    border: 1px solid var(--color-border);*/
/*    display: grid;*/
/*    padding: 10px;*/
/*    margin-right: 15px;*/
/*}*/
/*#reservation #confirmation {*/
/*    display: grid;*/
/*    padding: 10px;*/
/*    margin-right: 15px;*/
/*}*/
/*#reservation #confirmation p {*/
/*    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
/*    margin: 0px;*/
/*}*/
/*#reservation #confirmation button {*/
/*    background-color: rgba(208, 208, 208, 0.2);*/
/*    font-weight: bold;*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    margin: 0px;*/
/*    border: 1px solid var(--color-border);*/
/*    border-radius: 5px;*/
/*}*/
/*#confirmReservationUpdate input {*/
/*    width: 100%;*/
/*    padding: 10px;*/
/*    margin: 10px;*/
/*    border: 1px solid var(--color-border);*/
/*    border-radius: 5px;*/
/*}*/
/*#confirmReservationUpdate label {*/
/*    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
/*    margin: 10px;*/
/*}*/
/*#pdf_report_form {*/
/*    display: grid;*/
/*}*/
/*#pdf_report_form input {*/
/*    padding: 10px;*/
/*    margin: 10px;*/
/*    border: 1px solid var(--color-border);*/
/*    border-radius: 5px;*/
/*}*/
/*#pdf_report_form a {*/
/*    text-decoration: none;*/
/*    color: rgba(0, 0, 0, 0.75);*/
/*    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
/*    border-radius: 15px;*/
/*}*/